.chat-screen{
    height: 100%;
}
.input-send{
    position: absolute;
    width: stretch;
    bottom: 0px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 10px;
    textarea{
        resize: none;
        height: auto;
        padding: 10px;
        border: none;
    }
}